SamplesApp/Service References/ServiceReference1/PublicManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newegg.OZZO.WMS.Service.Domain.Model.PublicManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newegg.OZZO.WMS.Service.Domain.Model.PublicManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.16.76.251:2609/Newegg/OZZO/WMS/Service/PublicService/PublicManagementService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.16.76.251:2609/Newegg/OZZO/WMS/Service/PublicService/PublicManagementService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Newegg.WMS.AuthorizationLib.Entity" />
  <xs:complexType name="PDALoginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UsedUtilityRightList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="WarehouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkStation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PDALoginInfo" nillable="true" type="tns:PDALoginInfo" />
  <xs:complexType name="ReturnLoginInfo">
    <xs:sequence>
      <xs:element name="m_AppID" nillable="true" type="xs:string" />
      <xs:element name="m_DealDate" type="xs:dateTime" />
      <xs:element name="m_EmployeeID" nillable="true" type="xs:string" />
      <xs:element name="m_ErrReasons" nillable="true" type="xs:string" />
      <xs:element name="m_IsQCMode" type="xs:boolean" />
      <xs:element name="m_IsSuccess" type="xs:int" />
      <xs:element name="m_NickName" nillable="true" type="xs:string" />
      <xs:element name="m_URLConfigurationList" nillable="true" type="tns:ArrayOfMobileURLConfiguration" />
      <xs:element name="m_UserID" nillable="true" type="xs:string" />
      <xs:element name="m_UserName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_WHList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Newegg.WMS.AuthorizationLib.Entity" name="m_keyStoneAttributeList" nillable="true" type="q3:ArrayOfKeyStoneAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnLoginInfo" nillable="true" type="tns:ReturnLoginInfo" />
  <xs:complexType name="ArrayOfMobileURLConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MobileURLConfiguration" nillable="true" type="tns:MobileURLConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMobileURLConfiguration" nillable="true" type="tns:ArrayOfMobileURLConfiguration" />
  <xs:complexType name="MobileURLConfiguration">
    <xs:sequence>
      <xs:element name="m_IP" nillable="true" type="xs:string" />
      <xs:element name="m_Key" nillable="true" type="xs:string" />
      <xs:element name="m_Port" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MobileURLConfiguration" nillable="true" type="tns:MobileURLConfiguration" />
  <xs:complexType name="ArrayOfReplenishmentTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReplenishmentTask" nillable="true" type="tns:ReplenishmentTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReplenishmentTask" nillable="true" type="tns:ArrayOfReplenishmentTask" />
  <xs:complexType name="ReplenishmentTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickingLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReplenishmentTask" nillable="true" type="tns:ReplenishmentTask" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickingLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ToZone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
</xs:schema>