SamplesApp/Service References/ServiceReference1/PublicManagementService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newegg.WMS.AuthorizationLib.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newegg.WMS.AuthorizationLib.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKeyStoneAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyStoneAttribute" nillable="true" type="tns:KeyStoneAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyStoneAttribute" nillable="true" type="tns:ArrayOfKeyStoneAttribute" />
  <xs:complexType name="KeyStoneAttribute">
    <xs:sequence>
      <xs:element name="_x003C_WarehouseNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="m_FunctionAbilitys" nillable="true" type="tns:ArrayOfRightAbility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyStoneAttribute" nillable="true" type="tns:KeyStoneAttribute" />
  <xs:complexType name="ArrayOfRightAbility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RightAbility" nillable="true" type="tns:RightAbility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRightAbility" nillable="true" type="tns:ArrayOfRightAbility" />
  <xs:complexType name="RightAbility">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RightAbility" nillable="true" type="tns:RightAbility" />
</xs:schema>