SamplesApp/Service References/ServiceReference1/PublicManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newegg.OZZO.WMS.Service.Domain.Model.WarehouseManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newegg.OZZO.WMS.Service.Domain.Model.WarehouseManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Distance_Location_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultDistance" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultDistanceIncludeWeight" type="xs:int" />
      <xs:element minOccurs="0" name="DistanceToStart" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distance_Location_Result" nillable="true" type="tns:Distance_Location_Result" />
  <xs:complexType name="ArrayOfDistance_Location_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Distance_Location_Result" nillable="true" type="tns:Distance_Location_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistance_Location_Result" nillable="true" type="tns:ArrayOfDistance_Location_Result" />
</xs:schema>